<ion-header>
  <ion-navbar>
    <ion-title>
      Friends
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="logout()">
       Log Out
     </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="auth.authenticated()">

    <ion-item *ngIf="auth.user">
      <ion-avatar item-left>
        <img src="{{ auth.user.picture }}">
      </ion-avatar>
      <h2>{{ auth.user.nickname }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>

  </ion-card>

  <div *ngIf="auth.authenticated()">

    <div class="form">

      <form [formGroup]="addForm" (submit)="processAddForm()" novalidate>

        <ion-item>
          <ion-label color="primary" stacked> Name </ion-label>
          <ion-input #name formControlName="name" required type="name" placeholder="George" [class.invalid]="!addForm.controls.name.valid"></ion-input>
        </ion-item>

        <br/>

        <button ion-button block color="navBar" type="submit">
          Add Friend
      </button>

      </form>

    </div>

    <h4> Your Friend List </h4>

    <ion-list>
      <ion-item-sliding *ngFor="let friend of friends">
        <ion-item>
          {{ friend.name }}
        </ion-item>
        <ion-item-options side="right">
          <button danger ion-button (click)="deleteFriend( friend )">
              <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


    <button ion-button block color="navBar" (click)="syncData()">
        Manual Sync
      </button>

    <button ion-button block color="navBar" (click)="autoSync()">
        Auto Sync
      </button>

  </div>

</ion-content>
